.accordionBox {
  width: 100%;
  height: auto;
}

.accordionContainer {
  display: flex;
  flex-direction: column;
}

.accordionHeader {
  display: flex;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, var(--cor-1) 30%, #020835 100%);
  border: 2px solid var(--cor-2);
  box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.25);
  color: white;
}

.accordionContent {
  display: none;
  width: 100%;
  height: 200px;
  background-color: var(--cor-1);
  border: 2px solid var(--cor-2);
  padding: 20px 0;
}

.accordionIconLeft {
  margin-left: 5px;
}

.accordionTitle {
  width: 75%;
  margin: 0 10px;
}

.accordionArrow {
  margin-right: 10px;
}

.accordionLabel {
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  color: var(--cor-2);
}

.selectContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  button{
    background: var(--cor-1);
    border: 2px solid var(--cor-2);
    border-radius: 8px;
    padding: 5px;
    height: 40px;
    width: 100px;
    color: wheat;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
}
.input-info{
  padding: 0 10px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--cor-2);
}
.accordionSelect {
  width: 50%;
  padding: 4px 8px;
  color: white;
  background-color: var(--cor-1);
  border: 2px solid var(--cor-2);
  border-radius: 8px;
  font-weight: 400;
}
