<div class="container w-100">
  <div class="top w-100">
    <div>
      <img [src]="returnUrlIcon()" alt="icon" width="64px" />
      <ng-container *ngIf="!carreta && !bike">
        {{ detalhes.Modelo }}
      </ng-container>
      <ng-container *ngIf="carreta">Proteção de carreta</ng-container>
      <ng-container *ngIf="bike">Proteção de bicicleta</ng-container>
      <div></div>
    </div>
  </div>

  <div class="top w-100">
    <div class="w-100">
      <img src="../../../assets/dollar-sign-svgrepo-com.svg" alt="icon" />
      <h2>
        {{ valorTotal }}
      </h2>
      <img
        src="../../../assets/return.svg"
        alt="icon"
        (click)="out.emit(null)"
      />
    </div>
  </div>
  <div class="mid w-100">
    <div class="option w-100">
      <div class="op-top w-100">
        <h1 *ngIf="moto || caminhao">MÉDIO</h1>
        <h1 *ngIf="carro || bike || carreta">BÁSICO</h1>
        <div>
          <img src="../../../assets/star-svgrepo-com.svg" alt="" width="28px" />
          <img src="../../../assets/star-svgrepo-com.svg" alt="" width="28px" />
          <img src="../../../assets/star-svgrepo-com.svg" alt="" width="28px" />
        </div>
      </div>
      <div class="op-desc w-100">
        <ul>
          <ng-container *ngIf="bike">
            <li>Roubo e furto</li>
            <li>Perda Total 100% da FIPE</li>
          </ng-container>
          <ng-container *ngIf="carreta">
            <li>Roubo e furto</li>
          </ng-container>
          <ng-container *ngIf="carro">
            <li>Assistência 24h</li>
            <li>Guincho 600km (300 ida e 300 volta)</li>
            <li>Guincho Ilimitado - Acidente</li>
            <li>Recarga bateria</li>
            <li>Pane Seca</li>
            <li>Hospedagem</li>
            <li>Troca de pneu</li>
            <li>Chaveiro</li>
            <li>Motorista Substituto</li>
            <li>Retorno ao Domicílio</li>
            <li>Uber/Pop</li>
            <li>Guarda Veículo</li>
          </ng-container>
          <ng-container *ngIf="moto || caminhao">
            <li>Roubo e furto</li>
            <li>Incêndio</li>
            <li>Fenômenos Naturais</li>
            <li>Colisão</li>
            <li>Assistência 24h</li>
            <li>Guincho 600km (300 ida e 300 volta)</li>
            <li>Guincho ilimitado - Acidente</li>
            <li>Pane Seca</li>
            <li>Troca de pneu</li>
            <li>Retorno ao Domicílio</li>
            <li>Uber/Pop</li>
          </ng-container>
        </ul>
        <div class="action">
          <img
            src="../../../assets/logo.png"
            alt=""
            *ngIf="!carreta && !bike"
            width="95px"
            style="margin-bottom: 45px"
          />
          <h1>R$ {{ value1 }}</h1>
          <button (click)="abrirWhatsApp()">Selecionar</button>
        </div>
      </div>
      <ng-container *ngIf="carro || moto || caminhao">
        <div class="line"></div>
        <div class="op-top w-100">
          <h1 *ngIf="carro">MÉDIO</h1>
          <h1 *ngIf="moto || caminhao">COMPLETO</h1>
          <div>
            <img
              src="../../../assets/star-svgrepo-com.svg"
              alt=""
              width="28px"
            />
            <img
              src="../../../assets/star-svgrepo-com.svg"
              alt=""
              width="28px"
            />
            <img
              src="../../../assets/star-svgrepo-com.svg"
              alt=""
              width="28px"
            />
            <img
              src="../../../assets/star-svgrepo-com.svg"
              alt=""
              width="28px"
            />
          </div>
        </div>
        <h2>Contempla <span>tudo do Combo Básico</span> com adicional de :</h2>

        <div class="op-desc w-100">
          <ul>
            <li>Danos a Terceiros</li>
          </ul>
          <div class="action">
            <h1>R$ {{ value2 }}</h1>
            <button (click)="abrirWhatsApp()">Selecionar</button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="carro">
        <div class="line"></div>
        <div class="op-top w-100">
          <h1>COMPLETO</h1>
          <div>
            <img
              src="../../../assets/star-svgrepo-com.svg"
              alt=""
              width="28px"
            />
            <img
              src="../../../assets/star-svgrepo-com.svg"
              alt=""
              width="28px"
            />
            <img
              src="../../../assets/star-svgrepo-com.svg"
              alt=""
              width="28px"
            />
            <img
              src="../../../assets/star-svgrepo-com.svg"
              alt=""
              width="28px"
            />
            <img
              src="../../../assets/star-svgrepo-com.svg"
              alt=""
              width="28px"
            />
          </div>
        </div>
        <h2>Contempla <span>tudo do Combo Médio</span> com adicional de :</h2>

        <div class="op-desc w-100">
          <ul>
            <li>Carro reserva (15 dias)</li>
            <li>Proteção de Vidros</li>
            <li>Coparticipação reduzida</li>
          </ul>
          <div class="action">
            <h1>R$ {{ value3 }}</h1>
            <button (click)="abrirWhatsApp()">Selecionar</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
