.container {
  min-height: 100vh;
  width: 100vw;
  overflow: auto;
}

.header {
  width: 100%;
  height: 19vh;
  background: linear-gradient(90deg, #020835 30%, var(--cor-1) 100%);
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-vantagens {
  width: 100%;
}

.box-vantagem {
  background-color: var(--cor-1);
  line-height: 1.2;
  padding: 20px;
}

.box {
  text-align: center;
  border-radius: 20px;
  margin: 20px 0;
  padding: 15px 0;
  border: 3px solid var(--cor-1);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
}

.box div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 0 15px;
}

.box h1 {
  font-weight: 700;
  color: var(--cor-2);
  font-size: 24px;
}

.box h2 {
  font-weight: 600;
  color: var(--cor-1);
  font-size: 18px;
}

.texto-vantagem {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 15px;
  line-height: 1.2;
}

.texto-vantagem h2 {
  color: var(--cor-1);
  font-size: 26px;
  font-weight: 500;
}

.texto-vantagem span {
  font-weight: 700;
  color: var(--cor-2);
}

.title {
  margin-top: 10px;
  padding-top: 30px;
  text-align: center;
  color: white;
  background-color: var(--cor-1);
  font-size: 36px;
  font-weight: 600;
  text-decoration: underline;
}

.container-app {
  background-color: var(--cor-1);
}

.app {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.app-desc h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.app-desc h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
}

.app-desc h2 span {
  font-weight: 600;
  color: var(--cor-2);
}

.check {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.check h2 {
  margin-left: 15px;
  font-size: 28px;
  font-weight: 500;
}

.app-download {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-download h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0 15px 5px;
  color: var(--cor-2);
}

.app-download div {
  display: flex;
}

.container-missao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 15px;
  color: var(--cor-1);
  line-height: 1.2;
  min-height: calc(10vh - -200px);
  background: url("../../src/assets/background-video.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  gap: 40px;
  h1 {
    font-size: 36px;
    text-decoration: underline;
    font-weight: 600;
  }
  h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
  }
}


.mapa-container {	
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 20px;
  h1{
    font-size: 42px;
    font-weight: 600;
    color: var(--cor-2);
    margin-bottom: 30px;
  }
  h2{
    font-size: 26px;
    line-height: 1.2;
    color: var(--cor-1);
  }
}

.footer {
  width: 100%;
  background-color: var(--cor-1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 20px 0;
}

.column {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

.bottom {
  text-align: center;
}

@media screen and (min-width: 1550px) {
  .texto-vantagem {
    padding: 20px 60px;
  }
  .box-vantagem {
    padding: 10px 60px;
  }
}
@media screen and (min-width: 1024px) {
  .box-vantagem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
  }
  .box {
    width: auto;
  }

  .mapa{
    text-align: left;
    width: 30%;
  }

  .container-check {
    display: flex;
    gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .img-map{
    display: none;
  }
  .mapa{
    text-align: center;
    width: auto;
  }
}